.card {
    outline: none;
    border: 1px solid $color2;
    margin-top: 15px;
    flex-grow: 1;
    width: 200px;
    max-width: 300px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.336);
    transition: all .2s;
    border-radius: 15px 15px 0 0;

    background-color: $color4;

    &:hover, 
    &:focus {
        -moz-transform: scale(1.03);
        -webkit-transform: scale(1.03);
        transform: scale(1.03) skewX();
        -moz-transform-origin: bottom;
        -webkit-transform-origin: bottom;
        transform-origin: bottom;
        box-shadow: 0 7px 15px rgba(255, 255, 255, 0.877);
        transition: all .2s;
        cursor: auto;
    }

    &__image-container {
        height: 200px;
        background-color: $color4;
        overflow: hidden;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 200px, 0 180px);
        clip-path: polygon(0 0, 100% 0, 100% 200px, 0 180px);
    }

    &:hover &__image-container,
    &:focus &__image-container {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 190px, 0 200px);
        clip-path: polygon(0 0, 100% 0, 100% 190px, 0 200px);
        transition:all .2s;
    }

    /* IMAGEN */

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .2s;
    }

    &:hover &__image,
    &:focus &__image {
        transform: scale(1.4) rotate(5deg);
        transform-origin: center;
    }

    /* TITULO */

    &__heading{
        background-color: $color5;
        width: 100%;
        color: $color1;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px solid $color2;

    }

    &__content {
        padding: 0;
    }

/* PARRAFO CARDS */

    & .card__description{
        display: flex;
        flex-direction: column;
        height: 180px;
    }

    & .card__description-detalles{
        background-color: $color1;
        color: $color3;
        padding: 4px 5px;
        font-size: 15px;
        height: 70%;
    }

/* Precio Cards */

    & .contenedorPrecio{
        display: flex;
        justify-content: space-between;
        background-color: $color7;
        height: 30px;

        & h3{
            color: $color3;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 300;
            font-size: 16px;
            text-align: center;
            justify-content: center;
            margin-top: 5px;
        }

        & .botonAgregar{
            color:$color5;
            background-color: $color1;
            border: 1px solid $color4;
            width: 25px;
            height: 25px;
            border-radius: 5px;
            margin-right: 15px;
            cursor: pointer;

            &:hover{
                background-color: $color4
            }
        }
    }
    
    & .card__description-precio{
        font-size: 19px;
        height: 30%;
        text-align: center;
        color: $color4;
        font-weight: bolder;
        padding-left: 5px;  
    }

    &:hover .contenedorPrecio{
        background-color: $color5;
        transition: all .2s;
    }

    &:hover .card__description-precio {
        color: $color1;
    }

    @media (min-width: 1024px) {
        & {
            min-width: 240px;
        }
    }

    @media (min-width: 426px) and (max-width: 768px) {
        & {
            min-width: 400px;
            max-width: 500px;
            height: 200px;
        }

        &__article {
            display: flex;
        }

        & &__image-container {
            width: 100%;
            clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
        }
        &__content{
            width: 100%
        }

        &:hover &__image-container,
        &:focus &__image-container {
            width: 120%;
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            transition: all 1s;
            transform: rotate(0);
        }
    }

}

.section-cards a{
   text-decoration: none;
}