.section-carrito {
    display: none;
    position: fixed;
    background-color: #f1f2f3;
    z-index: 1000;
    left: 10%;
    right: 10%;
    box-shadow: .3em .3em 10em .3em rgba(0, 0, 0, 0.493);
    height: 500px;
    border: $color3 solid 1px;

    & h2{
        position: absolute;
        width: 100%;
        top: 200px;
        text-align: center;
    }

    &--visible {
        display: block;
        padding: 10px;
        width: 80%;
    }
}

#botonCerrarCarrito{
    font-size: 20px;
    width: 25px;
    height:25px;
    display: block;
    position: relative;
    left: 93%;
    background-color: #252627;
    border-radius: 5px;
    border: none;
    color: white;
    border-top: 2px solid $color4;
    border-left: 2px solid $color4;
    border-bottom: 2px solid $color5;
    border-right: 2px solid $color5;
    margin-bottom: 5px;

    &:hover{
        background-color: $color1;
        color: $color3;
        transition: .2s;
        cursor: pointer;
    }
}

.contenedor-tabla-carrito{
    overflow: scroll;
    height: 350px;
    background-color: $color1;
    &::-webkit-scrollbar{
        width: 8px;     /* Tamaño del scroll en vertical */
        height: 8px;    /* Tamaño del scroll en horizontal */
    }

    &::-webkit-scrollbar-thumb {
        background: $color5;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $color4;
        box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
    &::-webkit-scrollbar-track {
        background: #e4e4e4;
        width: 5px;
    }
    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-track:active {
        background: #d3d3d3;
    }
}

.carrito__table{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 800;
}

.tr-principales{
    background-color: $color5;
    color: $color2;
    padding: 10px;
}

.carrito__table td{
    text-align: center;
    border-bottom: $color5 1px solid;
}

.botonBorrarProducto{
    background-color: #252627;
    border-radius: 20px;
    border: none;
    padding: 2px 15px;
    color: white;
    border-top: 2px solid #6320EE;
    border-left: 2px solid #6320EE;
    border-bottom: 2px solid #8075FF;
    border-right: 2px solid #8075FF;
    font-size: 14px;
    font-weight: 500;

    &:hover{
        background-color: $color1;
        color: $color3;
        transition: .2s;
        cursor: pointer;
    }
}

.cantidad{
    display: flex;
    justify-content: space-around;
}

.contenedorBotonesAgregarQuitar{
    display: flex;
    flex-direction: column-reverse;
}

#agregarUno, #quitarUno{
    background-color: #252627;
    border: none;
    padding: 2px 10px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    width: 30px;
    justify-content: center;

    &:hover{
        background-color: $color5;
        color: $color3;
        transition: .2s;
        cursor: pointer;
    }
}

#agregarUno{
    border-radius: 10px 10px 0 0 ;
    margin-top: 5px;
}
#quitarUno{
    border-radius: 0 0 10px 10px ;
    margin-bottom: 5px;
}

.contenedorBotonCarrito{
    width: 100%;
    height: 30px;
    z-index: 2;
    text-align: center;
    margin-top: 10px;
}

.btn__enviarCarrito{
    background-color: #252627;
    border-radius: 20px;
    border: none;
    padding: 2px 15px;
    color: white;
    border-top: 2px solid #6320EE;
    border-left: 2px solid #6320EE;
    border-bottom: 2px solid #8075FF;
    border-right: 2px solid #8075FF;
    width: 100px;
    height: 40px;

    &:hover{
        background-color: $color1;
        color: $color3;
        transition: .2s;
        cursor: pointer;
    }
}

@media(max-width: 820px){
    .section-carrito{
        width: 96%;
        margin: 0;
        left: 2%;
        right: 2%;
    }
    .carrito__table{
        justify-content: start;
    }
}