/* Form Alta */

.container-alta {
    padding: 10px;
    margin: 15px 15px;
    background-color: $color2;
    box-shadow:  0 0 15px rgba(0, 0, 0, 0.308);
    border-radius: 15px;
    font-weight: 700;
    width: 90%;

    h1, h2 {
        color: $color2;
        background-color: $color5;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.247);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    label{
        span{
            color: $color5;
            font-size: 16px;
        }
    }

    div, input {
        width: 300px;
        display: block;
        margin-bottom: 1px;
        padding: 5px;
    }

    .data-validation{
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.048);
        border: none;
        width: 250px;

        &:hover, &:focus{
            filter: brightness(0.9);
        }
    }
    
    button {
        display: block;
        margin-top: 20px;
        width: 80px;
        background-color: $color5;
        color: white;
        cursor: pointer;
        margin-bottom: 10px;
        height: 20px;

        &:hover {
            background-color: $color4;
        }

        &:disabled {
            background-color: rgb(118, 129, 163);
        }
    }


    input[type="checkbox"] {
        display: inline;
        width: 15px;
        height: 15px;
        margin-top: 10px;
    }

    form .mensaje-validacion {
        border: 2px solid $color1;
        background-color: $color5;
        color: $color1;
        margin: 2px 0 10px 0;
        border-radius: 5px;
        display: none;
    }

/* Tabla Alta */

    table,th,td {
        border: 1px solid white;
        border-collapse: collapse;
    }

    th, td{
        padding: 5px 10px;
    }

    td{
        text-align: center;
    }



    table {
        width: 90%;
    }

    #listado-productos {
        width: 100%;
        overflow-x: scroll;
        .data{
            height: 50px;
            max-height: 50px;
        }
        .headers {
            background-color: $color5;
            color: $color1;
            height: 40px;
        }

        .detalles{
            max-width: 400px;
            font-weight: 400;
            overflow-y: scroll;
            font-size: smaller;
        }
    }

/* Drop Area */

    #drop-area {
        border: 2px dashed #ccc;
        border-radius: 20px;
        width: 300px;
        margin: 25px 0;
        padding: 20px;
    }

    .button {
        display: inline-block;
        padding: 10px;
        background: $color5;
        cursor: pointer;
        border-radius: 5px;
        border-radius: 1px solid #ccc;
    }

    #foto {
        display: none;
    }

    #gallery img {
        width: 100px;
        margin-top: 10px;
        margin-right: 10px;
        vertical-align: middle;
    }

    #drop-area.highlight {
        border-color: $color5;
    }

}