
.section-cards {
    padding: 1em;

    &__header h1{
        background-color: $color5;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 15px;
        margin-bottom: 5px;
    }
    &__header p{
        background-color: $color3;
        color: $color2;
        width: fit-content;
        padding: 5px 10px;
        border-radius: 10px;
    }
}



.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

    @media (min-width: 1200px) {
        & {
            gap: 2em
        }
    }
}