.nosotros {
    display: flex;
    flex-direction: column;
    background-color: $color3;
    z-index: 100;
    margin-top: 5px;


    &__parrafo1 { 
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 10px 15px;
        padding: 15px;
        z-index: 100;
        text-align: center;
        background-image: url(../../img/imagenes-nosotros/pawel-czerwinski-fPN1w7bIuNU-unsplash.jpg);
        background-position: center;
        height: 500px;
        align-items: center;
        justify-content: center;

        & h2{
            color: $color1;
            font-size: 40px;
            margin-bottom: 40px;
            text-shadow: 0 0 15px black;
            font-family: 'Righteous', cursive;
            font-weight: lighter;
        }

        & p{
            color: $color2;
            font-size: 20px;
            display: block;
            max-width: 500px;
            text-shadow: 0 0 15px black;
        }
    }
 
    &__parrafo2 {
        display: flex;
        padding: 40px 10px;
        background-color: $color3;
        background-image: url(../../img/imagenes-nosotros/blaz-photo-cZWZjymwI9o-unsplash.jpg);
        background-position: center;
        height: 100%;
        height: fit-content;
        align-items: center;
        justify-content: center;
        color: $color2;
        z-index: 300;
        border-top: 5px solid $color5;
        border-bottom: 5px solid $color4;

        & h2{
            font-family: 'Righteous', cursive;
            font-weight: lighter;
        }

        @media (max-width:780px) {
            &{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                & h2{
                    margin: auto;
                }
                }

                & p{
                    text-align: center;
                    justify-content: center;
                }
            }
        }

        &__imagen img{
            height: 300px;
            margin-top: 60px;
            margin-right: -20px;
            margin-left: 10px;
            border-radius: 15px 0 0 15px;

            @media (max-width:620px) {
                &{
                    border-radius: 15px;
                    margin: 20px 0;
                }
            }
        }

        & h2{
            padding: 10px;
            border-radius: 15px 15px 0 0;
            width: fit-content;
            text-shadow: 0 0 30px black;
            margin-bottom: 10px;
        }
        & p{
            padding-left: 20px;
            font-weight: 200;
            text-shadow: 0 0 30px black;
        }
    } 


.valores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80px;
    z-index: 301;
    padding-top: 5px;
    h2{
        color: $color2;
        display: inline;
        font-family: 'Righteous', cursive;
        font-weight: lighter;
        margin-top: 40px;
    }
}

.valores-container{
    margin-top: -80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 80px 30px;
    z-index: 300;
    background-image: url(../../img/imagenes-nosotros/howard-bouchevereau-Db-tzBhd500-unsplash.jpg);
    background-position: center right;
}

.nosotros__card1,.nosotros__card2, .nosotros__card3 { 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-items: center;
    padding: 5px 10px;
    color: $color1;
    width: 33%;
    height: 400px;
}

@keyframes rotacion360{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: -360deg;
    }
}


.nosotros__card2 .nosotros__card__figure{
    animation-name: "rotacion360";
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.nosotros__card__figure{
    margin-top: 30px;
    margin-bottom: 20px;
}

.nosotros__card__caption{
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 15px;
    text-shadow: 0 0 15px black;
}



@media(max-width: 768px){
    .valores-container{
        flex-direction: column;

        & .nosotros__card1, & .nosotros__card2, .nosotros__card3{
            width: 80%;
            height: fit-content;
            margin-bottom: 10px;
        }
    }

    .nosotros{
        margin-top: -5px;
    } 
}